@import java.util
@(title: String)(questionSets: util.List[QuestionSet])

@main(title) {
    <div class="container">
        <h1 class="display-4 mt-3">Question Sets</h1>
        <div class="row mt-2">
            <div class="col-md-12">
                <div>
                    <ul class="list-group">
                        @for(questionSet <- questionSets) {
                            <a href="@routes.QuestionSetController.questionSet(questionSet.getId)"><li class="list-group-item">
                                <span class="label label-info pull-right">@questionSet.getQuestionList.size() questions</span>
                                @questionSet.name
                            </li></a>
                        }
                    </ul>

                </div>
            </div>

        </div>

    </div>

}