@import java.util
@(title: String)(questionSets: util.List[QuestionSet])

@main(title) {
    <div class="container">
        <h1 class="display-4 mt-3">Question Sets</h1>
        <div class="row mt-2">
            <div class="col-md-12">
                <div>
                @for(questionSet <- questionSets) {
                    <div>
                        <a href="@routes.QuestionSetController.questionSet(questionSet.getId)">@questionSet.name</a>
                        - <span>@questionSet.getQuestionList.size() questions</span>
                    </div>
                }
                </div>
            </div>

        </div>

    </div>

}