@(title: String)
@main(title) {

    <div class="container-fluid">
        <div class="row titlerow">
            <div class="col-md-10 col-md-offset-1">
                <span class="icon-temple" style="padding-right:10px;"></span><a class="header-breadcrumbs" href="/training">Training Temple</a> - Critical Thinking
            </div>
        </div>

    </div>
    <div class="container-fluid contents-small visible-xs">
        <div class="row">
            <div class="col-md-12">
                <div class="tute-sidebar-small">
                    <a data-toggle="collapse" href=".collapse-wrapper" aria-expanded="false" aria-controls="collapseExample">
                        <h1>contents<span class="caret"></span></h1>
                    </a>
                    <div class="collapse-wrapper collapse">
                        <h3>Critical Thinking</h3>

                        <ul>
                            <li><a href="/training/1/critical-thinking/general">General</a></li>
                            <li><a href="/training/1/critical-thinking/conclusions">Conclusions</a></li>
                            <li><a href="/training/1/critical-thinking/assumptions">Assumptions</a></li>
                            <li><a href="/training/1/critical-thinking/flaws">Flaws</a></li>
                            <li><a href="/training/1/critical-thinking/strengthen-weaken">Strengthening & Weakening</a></li>
                            <li><a href="/training/1/critical-thinking/inferences">Inferences</a></li>
                            <li><a href="/training/1/critical-thinking/principles">Principles</a></li>
                            <li><a href="/training/1/critical-thinking/reasoning-parallels">Reasoning Parallels</a></li>
                        </ul>
                        <h3>Problem Solving</h3>

                        <ul>
                            <li><a href="/training/1/problem-solving/general">General</a></li>
                            <li><a href="/training/1/problem-solving/calculations">Calculations</a></li>
                            <li><a href="/training/1/problem-solving/data-analysis">Data Analysis</a></li>
                            <li><a href="/training/1/problem-solving/repeating-patterns">Repeating Patterns</a></li>
                            <li><a href="/training/1/problem-solving/spatial-reasoning">Spatial Reasoning</a></li>
                            <li><a href="/training/1/problem-solving/logic">Logic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container tutorial-wrapper">
        <div class="row">
            <div class="col-md-3 sidebar-wrapper hidden-xs">
                <div class="tute-sidebar">
                    <h1>Critical Thinking</h1>
                    <h3><a href="/training/1/critical-thinking/general/">

                        <i class="fa fa-unlock-alt" style="color:#4FA970"></i>
                        General
                        <i class="fa fa-check sideTick" style="display:none"></i>
                    </a></h3>
                    <ul class="">
                        <li>
                            <a class="active" href="/training/1/critical-thinking/general/introduction">
                                Introduction</a> &nbsp <i class="fa fa-check sideTick" data-id="11" style="display:none"></i>
                        </li>
                        <li>
                            <a class="" href="/training/1/critical-thinking/general/long-sets">
                                Long Sets</a> &nbsp <i class="fa fa-check sideTick" data-id="132" style="display:none"></i>
                        </li>
                    </ul>

                    <h3><a href="/training/1/critical-thinking/conclusions/">

                        <i class="fa fa-lock" style="color:#808080"></i>
                        Conclusions
                        <i class="fa fa-check sideTick" style="display:none"></i>
                    </a></h3>

                    <h3><a href="/training/1/critical-thinking/assumptions/">

                        <i class="fa fa-lock" style="color:#808080"></i>
                        Assumptions
                        <i class="fa fa-check sideTick" style="display:none"></i>
                    </a></h3>

                    <h3><a href="/training/1/critical-thinking/flaws/">

                        <i class="fa fa-lock" style="color:#808080"></i>
                        Flaws
                        <i class="fa fa-check sideTick" style="display:none"></i>
                    </a></h3>

                    <h3><a href="/training/1/critical-thinking/strengthen-weaken/">

                        <i class="fa fa-lock" style="color:#808080"></i>
                        Strengthening & Weakening
                        <i class="fa fa-check sideTick" style="display:none"></i>
                    </a></h3>

                    <h3><a href="/training/1/critical-thinking/inferences/">

                        <i class="fa fa-lock" style="color:#808080"></i>
                        Inferences
                        <i class="fa fa-check sideTick" style="display:none"></i>
                    </a></h3>

                    <h3><a href="/training/1/critical-thinking/principles/">

                        <i class="fa fa-lock" style="color:#808080"></i>
                        Principles
                        <i class="fa fa-check sideTick" style="display:none"></i>
                    </a></h3>

                    <h3><a href="/training/1/critical-thinking/reasoning-parallels/">

                        <i class="fa fa-lock" style="color:#808080"></i>
                        Reasoning Parallels
                        <i class="fa fa-check sideTick" style="display:none"></i>
                    </a></h3>


                </div>
            </div>
            <div class="col-md-9 tute-main">
                <div>				<a href="/training/1/critical-thinking/general/long-sets" class="pull-right nextprev">
                    Next Tutorial - Long Sets >
                </a>
                    &nbsp
                </div>
                <hr style="margin-top:10px">
                <div class="topic-title">General</div>
                <h1>Introduction
                </h1>
                <hr>
                <div class="tutorial-content">
                    <p>The critical thinking questions test your ability to analyse and evaluate arguments. About&nbsp;<strong>half&nbsp;</strong>of the Section 1 paper is Critical Thinking questions, and they&#39;re dispersed amongst Problem Solving &amp; Data Analysis questions (ie: you won&#39;t get all the Critical Thinking questions in a row).</p>

                    <h2>Critical Thinking vs Problem Solving questions</h2>

                    <p>We&#39;ve heard that some people (eg: Kaplan) seem to advocate a strategy that involves going through the paper and doing all the Critical Thinking questions first, and only then doing the Problem Solving ones. We don&#39;t like this approach - you&#39;ve got enough time in Section 1 that you don&#39;t need to be in &#39;Critical Thinking&#39; mode for half the paper to do well. We feel that doing the questions in the order they come is preferable because it encourages versatility in your thinking that may help you answer some of the more inventive Problem Solving questions. There&#39;s a danger of &#39;tunnel vision&#39; if you just do the Critical Thinking questions first, so we wouldn&#39;t encourage you to do so. Of course, ultimately the choice is down to you - do whatever works for you!</p>

                    <h3>Timing</h3>

                    <p>You have&nbsp;<strong>60 minutes&nbsp;</strong>to answer&nbsp;<strong>35 question&nbsp;</strong>in Section 1. That&#39;s actually rather a lot of time (compared to Section 2 anyway). You want to be getting to the stage where answering the Critical Thinking questions takes 60 seconds at the very most - in fact, most can be answered within 30 seconds if you know what you&#39;re doing and can read fast. That gives you a lot more time to tackle the Problem Solving questions, some of which are laughably simple, but others of which require a lot of thought. So, in your Critical Thinking practice, please don&#39;t let the fact that you have 2 minutes per question encourage a sense of complacency. Aim to get everything done in 1 minute or less.</p>

                    <h2>Question Types</h2>

                    <p>There are 7 common question types within Critical Thinking. You&#39;re highly, highly unlikely to get any questions outside these categories.</p>

                    <ol>
                        <li>Identify <strong>conclusions</strong></li>
                        <li>Identify <strong>assumptions</strong></li>
                        <li value="3">Identify <strong>flaws</strong></li>
                        <li value="4">Identify <strong>strengths &amp; weaknesses</strong></li>
                        <li value="6">Identify <strong>inferences</strong></li>
                        <li value="7">Identify <strong>principles</strong></li>
                    </ol>

                    <p>Nice and easy, right? The great thing about the Critical Thinking questions is that 99% of them fall into one of the above categories, so as long as you learn, understand and practise the method for each category, you&#39;ll be absolutely fine in the exam.</p>

                    <h2>Question Presentation</h2>

                    <p>Critical thinking questions appear in two forms.</p>

                    <ol>
                        <li>&nbsp;A 100- to&nbsp;150-word (ish) passage followed by 1 question.
                            <ul>
                                <li>There are usually 7 &ndash; 9 of these. These are the common questions and are really important to get stuck into. They are an excellent place to pick up marks and are often straightforward, once you&rsquo;ve perfected your technique.</li>
                            </ul>
                        </li>
                        <li>A long passage (up to a page of text)&nbsp;followed by 3-4 questions.
                            <ul>
                                <li>There are usually 1-2 of these and they look confusing at first glance. However, the key thing to remember is that these questions are not at all different to the short passages. You must still use the same method (see below), and as long as you don&rsquo;t let the large amount of text distract you, you can and should get all of these marks. Often, you don&rsquo;t even have to read the whole passage in order to answer the associated questions!&nbsp;</li>
                            </ul>
                        </li>
                    </ol>

                    <h2>General Method</h2>

                    <p>The general method we use for <strong><em>every</em></strong> critical thinking question is:</p>

                    <ol>
                        <li>Read the Question</li>
                        <li>Read the Argument</li>
                        <li>Discard &amp; Decide</li>
                    </ol>

                    <p><strong>(1) Read the Question</strong> - When you first see a Critical Thinking question in front of you, your first task is to&nbsp;<strong>completely ignore the passage and read the question first</strong>. The &#39;question&#39; is the bit that says &#39;What is the conclusion of this passage?&#39; etc. It&#39;s really, really important to read the question&nbsp;<strong>before&nbsp;</strong>reading the passage. Why? Because if you know you&#39;re looking for a conclusion (for example), your brain will be in &#39;conclusion-mode&#39; while you&#39;re reading the passage. If you read the passage first, and only afterwards realise you&#39;re looking for the conclusion, you&#39;ll have to read the passage&nbsp;<em>again&nbsp;</em>to find the conclusion. This is a waste of time. Please, just read the question first. It&#39;ll make your life much easier.</p>

                    <p><strong>(2) Read the Argument</strong> - This is obviously the next step. Once you know what you&#39;re looking for, you should&nbsp;read through the passage/argument and actively make an effort to understand what&#39;s going on, and to pick out whatever it is you&#39;re looking for. So if the question says &#39;Find the conclusion&#39;, then while you&#39;re reading each sentence in the passage, you should be asking yourself &#39;Is this the conclusion?&#39;. We would suggest underlining the sentence in the passage that matches what you&#39;re looking for.&nbsp;</p>

                    <p><strong>(3) Discard &amp; Decide</strong> - This is fairly self-explanatory. Once you&#39;ve identified the answer from the passage (and hopefully underlined it, as we&#39;ve recommended above), all you have to do is run through the answer choices and discard &amp; decide appropriately.&nbsp;</p>

                    <div class="topTip blue">It&#39;s really important to resist the temptation to look at the answer choices before you&#39;ve worked out the answer from the passage. Ie: If you&#39;re looking for a conclusion, then make sure you&nbsp;<em>find the conclusion in the passage&nbsp;</em>before looking through the answers. For the vast majority of questions, this tactic will prevent you from being led down the wrong garden path. This is especially true of the easier questions - we all have a tendency to overthink, and we&#39;re very good at finding answers in the options and then justifying them to ourselves using weird and wonderful reasoning. Life becomes much easier when you find the answer in the passage, and then simply look through the options to see which option best matches your predetermined answer.</div>

                    <h2>General format of arguments</h2>

                    <p>There&#39;s a simplified, but accurate, way of viewing most BMAT passages:</p>

                    <div class="keyDefinition">Arguments are made up of (1) a conclusion, (2) supporting reasons, and (3) unwritten assumptions.</div>

                    <p>Let&rsquo;s take a look at the passage below to see an example of this. This is a deliberately simplified passage, designed merely to illustrate the above point.</p>

                    <div class="question">[question-51]</div>

                    <p>There are a number of other assumptions made in this passage. We won&rsquo;t go over them now, but we&rsquo;ll return to the topic of assumptions very soon and we&rsquo;ll explain how to pick out the &lsquo;correct&rsquo; assumption when you&rsquo;ve got multiple options.</p>

                    <p>Anyway, while the above example is pretty straightforward, it does illustrate the general principles behind the passages you&rsquo;ll see in Critical Thinking questions. Obviously the passages you get will have more words, but the general pattern of reasons, assumptions and conclusions is much the same as in this example.</p>

                    <hr>
                    <a href="#" class="pull-right btn btn-default" id="incompleteButton"
                    style="
                        display:none
                    "><span class="glyphicon glyphicon-ok"></span> &nbsp Marked as Complete</a>
                    <a href="#" class="pull-right btn btn-default" id="completeButton"
                    style="

                    "><span class="glyphicon glyphicon-ok"></span> &nbsp Mark as Complete</a>
                    <br><br>
                </div>
                <hr>
                <div id="disqus_thread"></div>
                <script>
                        /**
                         * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                         * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                         */
                        var disqus_config = function () {
                            this.page.url = 'https://bmat.ninja//training/1/critical-thinking/general/introduction'; // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = '11'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };

                        (function() { // DON'T EDIT BELOW THIS LINE
                            var d = document, s = d.createElement('script');

                            s.src = '//bmatninja.disqus.com/embed.js';

                            s.setAttribute('data-timestamp', +new Date());
                            (d.head || d.body).appendChild(s);
                        })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>		</div>

        </div>

    </div>
    <div class="col-md-12 question-widget tutorialquestionstore" data-id='51' style="display:none">
        <a role="button" data-toggle="collapse" href="#collapsedQuestion-51" class="question-header-link toggle-up">
            <div class="question-widget-title">Practice Question  <span style="font-size:0.7em">1</span>&nbsp <span class="glyphicon glyphicon-chevron-up"></span></div>
        </a>
        <div class="question-widget-content collapse in" id="collapsedQuestion-51">
            <hr>
            <div class="question-widget-data" data-id='51'> <p>I heard a scratch at the door. I couldn&rsquo;t see my cat in the house. I should open the door to let the cat in.</p>
            </div>
            <div class="question-widget-question" data-id='51'> <p>Identify the (a) the conclusion, (b) 2 reasons, and (c) the assumptions in the above argument.</p>
            </div>


            <div class="option-items">
                <a href="#" class="btn btn-primary btn-block single_show_answer" data-id="51">Show answer and solution</a>
                <br>
            </div>


            <div class="solution" style="display:none" data-id='51'>
                <div class="solution-title">Correct Answer:</div>
                <p>Conclusion: I should open the door to let the cat in.</p>

                <p>Reasons: (1) I heard a scratch at the door, (2) I couldn&#39;t see my cat in the house.</p>

                <p>Assumption:&nbsp;The scratching on the door is the cat.</p>

            </div>
            <div class="solution" style="display:none" data-id='51'>
                <div class="solution-title">Solution:</div>
                <p>I heard a scratch at the door. I couldn&rsquo;t see my cat in the house. I should open the door to let the cat in.</p>

                <p>a)&nbsp;Step 1: Read the Question. The first thing we need to do is find the conclusion</p>

                <p>Step 2: Read the passage, looking for the conclusion. In this case we can see that there is a conclusion indicator in the final sentence, <em>&#39;I should&#39;.&nbsp;</em>Then, we need to check this is the strongest opinion in the argument, and we can conclude that it is.&nbsp;</p>

                <p>Thus, the conclusion is, <strong><em>I should open the door to let the cat in.​</em></strong></p>

                <p>b) Step 1: Read the Question: We&#39;re looking for 2 reasons.&nbsp;</p>

                <p>Step 2:&nbsp;Read the passage, looking for the reasons. In this case, the 2 reasons that support the conclusion are:&nbsp;<strong><em>I heard a scratch at the door</em></strong> and&nbsp;<strong><em>I couldn&rsquo;t see my cat in the house.&nbsp;</em></strong>These are the reasons behind the conclusion</p>

                <p>c)&nbsp;Step 1: Read the Question: We&#39;re looking for the assumption</p>

                <p>Step 2:&nbsp;Read the passage, looking for the assumption. We&#39;ll cover assumptions in another tutorial, however a key thing to remember is; assumptions are never stated. An assumption is the unwritten link between the reasons and the conclusion and it must be true for the conclusion to hold.</p>

                <p>In this case, the jump from reason 1 to the conclusion is that we&#39;re assuming that the scratching on the door is the cat.</p>

                <p>The jump from reason 2 to the conclusion is we&#39;re assuming that because the cat can&#39;t be seen it wants to be let in to the house.</p>

                <p>These are both reasonable assumptions,&nbsp;as if they weren&#39;t true the conclusion wouldn&#39;t make sense.&nbsp;</p>

                <p>This is the general method for most questions. Almost every critical thinking question will require you to find the conclusion and most will require you to establish the reasons before you can progress to finding the answer to the question. Don&#39;t worry we&#39;re going to go through all the critical thinking techniques and shortcuts there are in the coming tutorials</p>

            </div>
        </div>
    </div>
}